<% provide(:title, "About Panogram") %>
<h1 class="page-title center">About P &#8729; A &#8729; N &#8729; O &#8729; g r a m</h1>
<br>
<p class="secondary-font hint col-xs-6 col-xs-offset-3">While other sharing sites are less forgiving with images that aren't square, why not stretch your legs a bit here? Although it may be true that panoramic images are favored, all shapes are welcome :.) Panogram was conceived to be more accomodating, as well as being optimized for sharing and displaying panoramic images in <span class="footer-stretch">landscape</span> mode on your device (<i>*hint*hint*</i>).</p> 
