<% provide(:title, "About Panogram") %>
<div class="container" id="inner-wrapper">
  <h1 class="page-title center">About 
    <span id="panogram-subtitle">P &#8729; A &#8729; N &#8729; O &#8729; g r a m</span>
  </h1>
  <br>
  <p class="secondary-font hint col-xs-8 col-xs-offset-2">
    While other sharing sites are less forgiving with images that aren't square, why not stretch your legs a bit here? Although it may be true that panoramic images are favored, all shapes are welcome! Panogram was conceived to be more accomodating, as well as being optimized for sharing and displaying panoramic images in <span class="hint-stretch">landscape</span> mode on your device <em class="text-muted">(<strong class="text-danger">*</strong>hint<strong class="text-danger">*</strong>hint<strong class="text-danger">*</strong>)</em>.
  </p>
  <p class="secondary-font hint col-xs-8 col-xs-offset-2">
    Panogram was created by the unrepetant-panoramic-image-loving developer, Benny Paulino.
    <%= image_tag 'bp_pano_200x514.jpg', class: 'img-responsive center-block pano-portrait' %>
  </p>
  <br>
</div>