<% provide(:title, "Contact Panogram") %>
<div class="container" id="inner-wrapper">
  <h1 class="page-title center">Contact
    <span id="panogram-subtitle">P &#8729; A &#8729; N &#8729; O &#8729; g r a m</span>
  </h1>
  <br>
  <p class="secondary-font p-legible center">Drop the developer a line on his blog...</p>

  <div class="center social-links">
    <a href="http://www.iseeincode.com/contacts/new" target="_blank">
      <%= image_tag 'world-28px.png', class: 'social-button', id: 'web-icon' %>
    </a>
  </div>
  <br>

  <div class="center social-links">
    <p class="secondary-font p-legible center">Send a tweet...</p>

    <a href="https://twitter.com/i_see_in_code" target="_blank">
      <%= image_tag 'twitter-64px.png', class: 'social-button' %>
    </a>
  </div>
  <br>

  <div class="center social-links">
    <p class="secondary-font p-legible center">
      Check out the repo...
    </p>
    <a href="https://github.com/bennypaulino/panogram" target="_blank">
      <%= image_tag 'github-64px.png', class: 'social-button' %>
    </a>
  </div>
  <br>

  <div class="center social-links">
    <p class="secondary-font p-legible center">
      Or get linked in...
    </p>  
    <a href="https://www.linkedin.com/in/benny-paulino-504b96113" target="_blank">
      <%= image_tag 'linkedin-64px.png', class: 'social-button' %>
    </a>  
  </div>
</div>