<% provide(:title, 'Sign Up') %>
<% provide(:button_text, 'Create my account') %>
<% provide(:form_url, signup_path) %>

<div class="container" id="inner-wrapper">
  <div class="col-xs-12" id="layout-base">
    <h1 class="page-title text-center" id="sign-up-title">
      Sign up, 
      <span id="default-and">and</span>
      <span id="hidden-ampersand">&amp</span> go..... 
      <span class="text-center" id="sign-up-stretch">wide</span>
    </h1>

    <br>
      <div class="form-group col-sm-8 col-sm-offset-2 user-signup">
        <%= render 'form' %>
      </div>
  </div>
</div>