<% provide(:title, 'Sign Up') %>
<% provide(:button_text, 'Create my account') %>
<% provide(:form_url, signup_path) %>

<h1 class="center">Sign Up, and go...w i d e</h1>

<div class="row">
  <div class="form-group col-md-6 col-md-offset-3 user-signup">
    <%= render 'form' %>
  </div>
</div>
