<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <div class="pagination col-xs-10 col-xs-offset-1 primary-font">
    <!-- The controller will determine how many posts/page --> 
    <%= will_paginate @feed_items, previous_label: "<", 
                                   next_label: ">", :container => false %>
  </div>
<% end %>