<% provide(:title, "Panogram") %>
<div class="center jumbotron hero">
  <div class="frosty text-center">
    <h1 class="hero-title">Panogram</h1>
    <h2>
      Because the world isn't always square.
    </h2>
    <br>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-submit" %>
  </div>
</div>
