<% provide(:title, "Panogram") %>
<div class="center jumbotron">
  <h1>Panogram</h1>
  <p>
    This is the home page for P - A - N - O - g r a m .
  </p>
  <br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<h2 class="greeting">Hello</h2>
<p>
  The time is now: <%= Time.now %>
</p>