<div class="container" id="inner-wrapper">
  <h1 class="center page-title">Crop Your Awesome Image</h1>
  <br>
  <div class="crop-image-wrapper">
    <%= image_tag @micropost.picture_url(:medium_res), id: "cropbox" %>

    <%= form_for @micropost do |f| %>
      <% %w[x y w h].each do |attribute| %>
        <%#= f.text_field "crop_#{attribute}" %>
        <%= f.hidden_field "crop_#{attribute}" %>
        <% end %>
      <br>
      <div class="center actions form-group">
        <%= f.submit "Save Changes", 
                      class: "btn btn-submit" %>
      </div>
    <% end %>
    <br>
    <br>
  </div>
</div>