<h1 class="center page-title">Crop Your Awesome Image</h1>
<br>
<div class="center">
  <%= image_tag @micropost.picture_url(:medium_res), id: "cropbox" %>

  <%= form_for @micropost do |f| %>
    <% %w[x y w h].each do |attribute| %>
      <%= f.text_field "crop_#{attribute}" %><br>
      <%#= f.hidden_field "crop_#{attribute}" %>
      <% end %>
    <div class="actions form-group">
      <%= f.submit "Crop", class: "btn btn-submit" %>
    </div>
  <% end %>

</div>