@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dosis|Gruppo|');

/* --------- mixins, variables, etc. ---------- */
$gray-medium-light: #eaeaea;
$accent-color: #6ec90d;
$link-color: #820C92;
$link-color-hover: #50015B;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* --------------------------- UNIVERSAL ----------------------------- */

body {
  padding-top: 4em;
  width: 100%;
  max-width: 100%;
}

#outer-wrapper {
  padding-left: 4px;
  padding-right: 4px;
}

#inner-wrapper {
  width: 100%;
}

section {
  overflow: auto;
  font-family: 'Dosis', sans-serif;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: .8em;
  }
}

@media(max-width: 499px) {
  #inner-wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
  #layout-base {
    padding-left: 13px;
    padding-right: 13px;
  }
}

/* --------------------------- typography --------------------------- */

.primary-font {
  font-family: 'Gruppo', cursive;
}

.secondary-font {
  font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 2em;
}

h2 {
  font-size: 2.6em;
  margin-bottom: 2em;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.wide {
  letter-spacing: 0.8em;
}

.page-title {
  font-family: 'Gruppo', cursive;
  letter-spacing: .3em;
  font-weight: 800;
}

/* -------------------------- HEADER ---------------------------- */

#logo {
  float: left;
  font-size: 1.4em;
  color: #fff;
  letter-spacing: .2em;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $accent-color;
    text-decoration: none;
    transition: 3s;
    letter-spacing: 0.5em;
  }
}

.navbar {
  font-family: 'Gruppo', cursive;
}

.navbar .container .navbar-right > li > a:hover {
  color: $accent-color;
}

.dropdown .dropdown-menu > li > a:hover {
  transition: 1s;
  background-color: #bdf582;
}

#menu-collapse #nav-menu li a {
  color: #cefc9f;
  &:active {
    color: #6ec90d;
  }
  &:hover {
    color: #6ec90d;
  } 
}

#navigation .navbar-toggle .icon-bar {
  background-color: #6ec90d;
}

.navbar-links {
  letter-spacing: 0.4em;
}

@media(min-width: 768px) {
  #logo: {
    margin-right: .7em;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: .8em;
    font-weight: bold;
    text-decoration: none;
  }
  #outer-wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
  #inner-wrapper {
    padding-left: 0px;
    padding-right: 0px;  
  }
  #layout-base {
    padding-left: 0px;
    padding-right: 0px;  
  }
}

@media(min-width: 780px) {
  #logo:hover {
    letter-spacing: 1.4em;
  }
}

@media(min-width: 500px) and (max-width: 779px) {
  #logo:hover {
    letter-spacing: 1.2em;
  }
}

@media(min-width: 400px) and (max-width: 499px) {
  #logo:hover {
    letter-spacing: 1.0em;
  }
}

@media(min-width: 275px) and (max-width: 309px) {
  #logo:hover {
    letter-spacing: 0.3em;
  }
}

@media(max-width: 499px) {
  #layout-base .pano-feed {
    font-size: 1.7rem;
  }
}

/* --------------------------- FOOTER ------------------------------ */
footer {
  margin-top: 3.5em;
  padding-top: .2em;
  /*border-top: 1px solid $gray-medium-light;*/
  color: #777;
  font-family: 'Gruppo', cursive;
  a {
    color: #555;
    &:hover {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
  span {
    margin-left: 1em;
  }
  ul {
  float: right;
  margin-right: 1em;
  list-style: none;
    li {
      float: left;
      margin-left: 1em;
    }
  }
}

.footer-stretch:hover {
  text-decoration: none;
  transition: 3s;
  letter-spacing: 1.2em;
  margin-left: 1em;
  color: $link-color-hover;
  @media (min-width: 365px) and (max-width: 399px) {
    letter-spacing: 1.0em;
  }
  @media(max-width: 364px) {
    letter-spacing: 0.5em;
  }
}

.footer span {
  @media(max-width: 554px) {
    display: none;
  }
}

.footer-stretch {
  @media(max-width: 554px) {
    margin-left: 1em;
  }
}

/* ------------------------ landing page --------------------------  */
.jumbotron {
  padding: 10em 0;
  font-family: 'Gruppo', cursive;
  .sub-title {
    font-size: 1.7em;
    color: #fdffee;
    @media(max-width: 499px) {
      font-size: 1.8rem;
    }
    @media(max-width: 359px) {
      font-size: 1.4rem;
    }
    /*iphone 6 portrait*/
    @media (min-width: 360px) and (max-width: 399px) {
      font-size: 1.5rem;
    }
  }
}

.hero {
  background: image-url('hero-1200px.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 4px 12px rgba(133,116,133,0.90);
  .frosty {
    background: rgba(0,0,0, 0.1);
    color: rgba(255,255,255, 0.9);
    border-radius: 6px;
    padding: 3em;
    margin-top: -1em;
    .btn-submit {
      color: #fff;
      background-color: rgba(120, 210, 24, 0.75);
    }
  }
}

.hero-title {
  font-size: 4rem;
  letter-spacing: 4rem;
  @media (min-width: 800px) and (max-width: 999px) {
    letter-spacing: 2rem;
  }
  @media (min-width: 500px) and (max-width: 799px) {
    font-size: 3.6rem;
    letter-spacing: 1.2rem;
  }
  @media (min-width: 400px) and (max-width: 499px) {
    font-size: 2.6rem;
    letter-spacing: 1.2rem;
  }
  &:hover {
    letter-spacing: 8rem;
    transition: 3s;
    color: #d4f9ad;
    /* ipad landscape*/
    @media (min-width: 1000px) and (max-width: 1199px) {
      letter-spacing: 6.6rem;
    }
    /* Fire HDX 7 tablet landscape*/
    @media (min-width: 800px) and (max-width: 999px) {
      letter-spacing: 3.4rem;
    }
    /*ipad portrait*/
    @media (min-width: 740px) and (max-width: 799px) {
      letter-spacing: 3.6rem;
    }
    /*iphone 6plus landscape*/
    @media (min-width: 700px) and (max-width: 739px) {
      letter-spacing: 5.9rem;
    }
    /*iphone 6 landscape*/
    @media (min-width: 660px) and (max-width: 699px) {
      letter-spacing: 4.9rem;
    }
    /*galaxy s5 landscape*/
    @media (min-width: 640px) and (max-width: 659px) {
      letter-spacing: 4.5rem;
    }
    /* Fire HDX tablet portrait */
    @media (min-width: 600px) and (max-width: 639px) {
      letter-spacing: 4rem;
    }
    /* iphone 5 landscape */
    @media (min-width: 500px) and (max-width: 599px) {
      letter-spacing: 3.5rem;
    }
    /*iphone 6 plus portrait*/
    @media (min-width: 400px) and (max-width: 499px) {
      letter-spacing: 2.3rem;
    }
    /*iphone 6 portrait*/
    @media (min-width: 375px) and (max-width: 399px) {
      letter-spacing: 2.1rem;
    }
    /*galaxy s5 portrait*/
    @media (min-width: 360px) and (max-width: 374px) {
      letter-spacing: 1.9rem;
    }
    /*iphone 5 portrait*/
    @media (min-width: 200px) and (max-width: 359px) {
      letter-spacing: 1.4rem;
    }
  } 
}

/*iphone 5 & iphone 6 portrait*/
@media (min-width: 200px) and (max-width: 399px) {
  .hero-title {
    font-size: 2.0rem;
    letter-spacing: 1.0rem;
  }
}

/* ----------------------------- forms ------------------------------- */  
input, textarea, select, .uneditable-input {
  border-collapse: 1px solid #bbb;
  width: 100%;
  @include box-sizing;
}

input {
  height: auto;
}

.user-signup input {
  margin-bottom: 1em;
}

label.control-label {
  font-family: 'Gruppo', cursive;
  font-size: 1.3em;
  letter-spacing: .2em;
}

.form-group .form-control {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.1em;
  &:focus {
    border-color: #6ec90d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(110, 201, 13, 0.6);
  }
}

#error_explanation {
  color: red;
  div {
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: .1em;
  }
  ul {
    color: #C51717;
    margin: 0 0 2.5em 0;
  }
}

.alert-title {
  font-family: 'Gruppo', cursive;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: .2em;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
    font-family: 'Dosis', sans-serif;
    -webkit-box-shadow: 0 0 5px #FF3701;
            box-shadow: 0 0 5px #FF3701;
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid #D90707;
  }
}

.error-messages {
  letter-spacing: .1em;
  font-size: 1.2em;
  padding-top: .3em;
}

#signup-link {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
    text-decoration: none;
    font-weight: 600;
  }
}

.checkbox {
  margin-top: -0.8em;
  margin-bottom: -0.8em;
  span {
    margin-left: 1.5em;
    font-weight: normal;
  }
}

/*The following will move the checkbox to the left*/
#session_remember_me {
  width: auto;
  margin-left: 0;
}

#forgot-password {
  color: $link-color;
  &:hover {
    color: $link-color-hover;
    font-weight: 800;
    text-decoration: none;
  }
}

#unfollow {
  font-family: 'Gruppo', cursive;
  letter-spacing: .2em;
  &:hover {
    color: $link-color;
    background-color: rgba(178, 42, 3, 0.15);
    transition: 1s;
    font-weight: 800;
    letter-spacing: .6em;
    box-shadow: 0 3px 6px 0 #ecd1c0;
  }
}

.heart {
  height: auto;
  width: auto;
  max-height: 1.2em;
  max-width: 1.4em;
  margin-right: .6em;
}

#new_like {
  display: inline;
}

.edit_like {
  display: inline;
}

.btn-submit {
  font-family: 'Gruppo', cursive;
  letter-spacing: .2em;
  color: #fff;
  background-color: #A6E95E;
  border-color: #2a671e;
  &:hover {
    color: #fff;
    background-color: #8CDC35;
    transition: 0.8s;
    font-weight: 800;
    letter-spacing: .6em;
    box-shadow: 0 3px 6px 0 #2a671e;
  }
}

.new-user {
  font-size: 1.5em;
  letter-spacing: .04em;
}

/* text-field for new micropost form */
aside {
  textarea {
    height: 7em;
    margin-bottom: .4em;
    letter-spacing: .1em;
    font-weight: 600;
  }
}

.btn-choose {
  background-color: rgba(166, 233, 94, 0.34);
  height: 2.6em;
  margin: 0 auto;
  &:hover {
    background-color: rgba(166, 233, 94, 0.5);
    transition: 0.8s;
    box-shadow: 0 3px 6px 0 #77b36b;
  }
}
/*Choose image button on the left side*/
.bootstrap-filestyle .input-group-btn .btn-sm {
  border-radius: 5px;
}
/*Right side of the choose image button*/
.picture input.form-control.input-sm {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.jcrop-centered {
  display: inline-block;
}

.crop-image-wrapper {
  text-align: center;
}

/* ---------------------------- Users index ----------------------- */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: .8em 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.users-list {
  
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  a {
    color: $link-color;
    &:hover {
      color: $link-color-hover;
    }
  }
}

/* ------------------------ miscellaneous ----------------------- */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 3em;
  @include box_sizing;
}

/*----------------------------  sidebar ---------------------------*/
aside {
  section.user_info {
    margin-top: 2.5em;
    h1 {
      font-size: 1.6em;
      font-weight: 800;
      letter-spacing: .2em;
      margin-bottom: 0;
    }
    a {
      color: $link-color;
      letter-spacing: .1em;
      &:hover {
        text-decoration: none;
        color: $link-color-hover;
      }
    }
    .sidebar-post-count {
      margin-top: 1.2em;
      letter-spacing: .4em;
    }
  }
  section {
    padding: 1em 0;
    margin-top: 1.5em;
    margin-left: 0.5em;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: .2em;
      margin-top: 0.8em;
      line-height: 1;
    }
    .picture span {
      margin: -0.06em auto;
      line-height: 0;
    }
    h1 {
      text-align: left;
      letter-spacing: .1em;
      margin-bottom: .8em;
      margin-top: 0;
    }
  }
}

#post-count-adjust {
  margin-top: 5.8em;
}

#sidebar_user_show {
  margin-top: 4.2em;
}

#user_info_show_name {
  font-size: 1.3em;
  /*margin-top: 1.4em;*/
}

.user-stats-timestamp{
  color: #b9b7b7;
}

.gravatar {
  float: left;
  margin-right: .8em;
}

.center-override .gravatar {
  float: none;
  margin-right: 1em;
}

.change-gravatar {
  font-family: 'Gruppo', cursive;
  font-size: 1.4em;
  color: $link-color;
  &:hover {
    color: #B22A03;
    text-decoration: none;
  }
}

.gravatar_edit {
  margin-top: 1em;
}

.micropost_form {
  font-family: 'Gruppo', cursive;
}

/*  -------------------------  microposts  -------------------------  */
.micropost_count {
  font-family: 'Gruppo', cursive;
  letter-spacing: .3em;
  font-weight: 800;
}

.microposts {
  list-style: none;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1.04em;
  letter-spacing: 0.08em;
  li {
    padding: .8em 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    a {
      color: $link-color;
      &:hover {
        color: $link-color-hover;
      }
    }
  }
  .content {
    display: block;
    /*margin-left: 4em;*/
    margin-top: 3em;
    margin-bottom: 1em;
    img {
      /*display: block;*/
      padding: .3em 0;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }
  .timestamp {
    color: #d8d8d8;
    /*display: block;*/
    margin-left: 1em;
    a {
      margin-left: 1em;
      color: rgba(130, 12, 146, 0.82);
      &:hover {
        color: #B22A03;
        text-decoration: none;
      }
    }
  }
  .admirers {
    color: rgba(130, 12, 146, 0.82);
    &:hover {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
  .gravatar {
    float: left;
    margin-right: .8em;
    margin-top: .4em;
  }
}

@media(max-width: 499px) {
  .microposts .micropost-info .timestamp {
    font-size: .7em;
  }
}

@media(max-width: 499px) {
  #layout-base .microposts .micropost-info {
    margin-left: 0;
  }
}

.microposts .user a:hover {
  text-decoration: none;
}

.pano-feed {
  font-family: 'Gruppo', cursive;
  font-weight: 800;
  letter-spacing: .4em;
  margin-top: 1.3em;
  font-size: 2.3rem;
}

span.picture {
  margin-top: .8em;
  input {
    border: 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  font-family: 'Gruppo', cursive;
  a {
    float: left;
    padding: 0 .7em;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $link-color-hover;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: .7em;
  gravatar {
    margin: 1px 1px;
  }
  a {
    padding: .5em 0;
  }
}

.users-list a:hover {
  text-decoration: none;
}

.users.follow {
  padding: 0;
}

.microposts .micropost-info {
  margin-left: 33%;
  a {
    text-decoration: none;
  }
  @media (min-width: 500px) and (max-width: 643px) {
  margin-left: 0;
  }
}

/*  --------------------  follow / followers ---------------------- */
.show-follow-followers {
  margin-top: 1.8em;
  .users-list a {
    color: $link-color;
    &:hover {
      color: $link-color-hover;
    }
  }
  aside .user_info .sidebar-post-count {
    margin-top: 4em;
  }
}

/* ------------------------ micropost admirers --------------------- */
.micropost-admirers {
  li {
    list-style-type: none;
  }
}

/*  ------------------------  pagination  -------------------------  */

.pagination:before,
.pagination:after {
  content: " ";
  display: block;
}

.pagination:after {
  clear: both;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row .pagination .active a {
  background-color: #A349B0;
  border-color: rgba(62, 13, 84, 0.5);
}

.row .pagination .active a:hover {
  background-color: rgba(130, 12, 146, 0.31);
  border-color: rgba(62, 13, 84, 0.45);
  font-weight: 800;
}

.row .pagination > li > a {
  color: #d895f9;
  &:active {
    color: #A349B0;
    &:hover {
      color: #fff;
    }
  }
  &:hover {
    color: #750d92;
    background-color: rgba(199, 227, 212, 0.31);
    border-color: rgba(199, 227, 212, 0.7);
  }
}

.row .pagination > li > a:hover {
  background-color: rgba(163, 73, 176, 0.11);
  border-color: rgba(163, 73, 176, 0.42);
}

.pagination a, .previous_page, .current, .next_page {
  padding: .75em 1em;
  margin: 0 .5em;
  border-radius: .15em;
  line-height: 20px;
  text-decoration: none;
  /*background: #fff;*/
  font-size: 1em;
  font-weight: 700;
  font-style: normal;
  color: #A4A4A4;
}

.current {
  background: #7edce3;
  color: #fff;
}

.disabled {
  display: none;
} 

.pagination a:hover {
  color: #28C6D1;
  background: #d6d6d6;
  transition: 1s;
}

.pagination-wrapper {
  @media(max-width: 499px) {
    text-align: center;
  }
  /*iphone 5 portrait*/
  @media(min-width: 300px) and (max-width: 339px) {
    margin-left: 19%;
  }
  /*galaxy s5 portrait*/
  @media(min-width: 340px) and (max-width: 369px) {
    margin-left: 20%;
  }
  /*iphone 6 portrait*/
  @media(min-width: 370px) and (max-width: 399px) {
    margin-left: 28%;
  }
  /* -- iphone 6plus -- Nexus 5x -- Nexus 6p -- */
  @media(min-width: 400px) and (max-width: 449px) {
    margin-left: 13%;
  }
}

.pagination-wrapper .pagination {
  @media(max-width: 499px) {
    display: inline-block;
  }
}

.pagination-wrapper .pagination li {
  @media(max-width: 499px) {
    display: none;
  }
}

#layout-base .pagination-wrapper .pagination li.prev.previous_page {
  @media(max-width: 499px) {
    display: inline;
  }
}

#layout-base .pagination-wrapper .pagination .next_page {
  @media(max-width: 499px) {
    display: inline;
  }
}

#layout-base .pagination-wrapper .pagination .active {
  @media(max-width: 499px) {
    display: inline;
  }
}

#layout-base .pagination-wrapper .pagination .disabled {
  @media(min-width: 399px) {
    display: inline;
  }
}

/* -------------------------- Static Pages ----------------------------- */
.hint {
  font-size: 1.2em;
  letter-spacing: .1em;
  &:hover > .footer-stretch {
    transition: 3s;
    letter-spacing: 1.2em;
    margin-left: 1em;
    color: #438100;
  }
}

.p-legible {
  font-size: 1.2em;
  letter-spacing: .1em;
}

.social-button {
  width: 32px;
  margin: 0 1.6em;
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
  &:hover {
    border-radius: 16px;
    opacity: .9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    background-color: rgba(110, 201, 13, 0.79);
    transition: 3s;
  }
}

.social a:hover {
  /*background-color: rgba(104, 202, 53, 0.99); */
  transition: 1.5s;
  text-decoration: none;
}

.troopers {
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
  &:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    transition: 1s;
  }
}
