@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dosis|Gruppo|');

/* --------- mixins, variables, etc. ---------- */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* --------- UNIVERSAL ----------- */

body {
  padding-top: 4em;
}

section {
  overflow: auto;
  font-family: 'Dosis', sans-serif;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: .8em;
  }
}

/* ----------- typography -------------- */

.primary-font {
  font-family: 'Gruppo', cursive;
}

.secondary-font {
  font-family: 'Dosis', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 2em;
}

h2 {
  font-size: 2.6em;
  margin-bottom: 2em;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.wide {
  letter-spacing: 0.8em;
}

.page-title {
  font-family: 'Gruppo', cursive;
  letter-spacing: .3em;
  font-weight: 800;
}

/* ------------- HEADER --------------- */
#logo {
  float: left;
  margin-right: .7em;
  margin-left: .5em;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: .8em;
  padding-top: .4em;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #008080;
    text-decoration: none;
    transition: 3s;
    letter-spacing: 1.4em;
  }
}

.navbar {
  font-family: 'Gruppo', cursive;
}


/* --------------- FOOTER ----------------- */
footer {
  margin-top: 3.5em;
  padding-top: .2em;
  border-top: 1px solid $gray-medium-light;
  color: #777;
  font-family: 'Gruppo', cursive;
  a {
    color: #555;
    &:hover {
      color: #222;
      text-decoration: none;
    }
  }
  small {
    margin-left: 1em;
  }
  ul {
  float: right;
  margin-right: 1em;
  list-style: none;
    li {
      float: left;
      margin-left: 1em;
    }
  }
}

.footer-stretch:hover {
  text-decoration: none;
  transition: 3s;
  letter-spacing: 1.2em;
  margin-left: 1em;
}

/* --------------- landing page --------------------------  */
.jumbotron {
  padding: 10em 0;
  font-family: 'Gruppo', cursive;
  h2 {
    font-size: 1.7em;
    color: #fdffee;
  }
}

.hero {
  background: url('hero.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*height: 380px;*/
  box-shadow: 0px 4px 12px rgba(133,116,133,0.90);
  .frosty {
  background: rgba(0,0,0, 0.1);
  color: rgba(255,255,255, 0.9);
  border-radius: 6px;
  padding: 3em;
  margin-top: -1em;
  }
}

.hero-title {
  letter-spacing: 0.9em;
}

.hero-title:hover {
  letter-spacing: 1.4em;
  transition: 3s;
}

/* --------------- forms --------------------------  */
input, textarea, select, .uneditable-input {
  border-collapse: 1px solid #bbb;
  width: 100%;
  @include box-sizing;
}

input {
  height: auto;
}

.user-signup input {
  margin-bottom: 1em;
}

label.control-label {
  font-family: 'Gruppo', cursive;
  font-size: 1.3em;
  letter-spacing: .2em;
}

.form-control {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.1em;
}

#error_explanation {
  color: red;
  div {
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: .1em;
  }
  ul {
    color: #C51717;
    margin: 0 0 2.5em 0;
  }
}

.alert-title {
  font-family: 'Gruppo', cursive;
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: .2em;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
    font-family: 'Dosis', sans-serif;
    -webkit-box-shadow: 0 0 5px #FF3701;
            box-shadow: 0 0 5px #FF3701;
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid #D90707;
  }
}

.error-messages {
  letter-spacing: .1em;
  font-size: 1.2em;
  padding-top: .3em;
}

#signup-link:hover {
  text-decoration: none;
  font-weight: 600;
}

.checkbox {
  margin-top: -0.8em;
  margin-bottom: -0.8em;
  span {
    margin-left: 1.5em;
    font-weight: normal;
  }
}

/*The following will move the checkbox to the left*/
#session_remember_me {
  width: auto;
  margin-left: 0;
}

#forgot-password:hover {
  font-weight: 800;
  text-decoration: none;
}

#unfollow {
  font-family: 'Gruppo', cursive;
  letter-spacing: .2em;
}

#unfollow:hover {
  color: red;
  background-color: #fbedd5;
  transition: 1s;
  font-weight: 800;
  letter-spacing: .6em;
  box-shadow: 0 3px 6px 0 #ecd1c0;
}

.btn-submit {
  font-family: 'Gruppo', cursive;
  letter-spacing: .2em;
}

.btn-submit:hover {
  transition: 0.8s;
  font-weight: 800;
  letter-spacing: .6em;
  box-shadow: 0 3px 6px 0 #17324a;
}

.new-user {
  font-size: 1.5em;
  letter-spacing: .04em;
}

/* ------------------------ Users index ----------------------- */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: .8em 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.users-list {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.08em;
}

/* ------------------------ miscellaneous ----------------------- */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 3em;
  @include box_sizing;
}

/*----------------------------  sidebar ---------------------------*/
aside {
  section.user_info {
    margin-top: 1.5em;
  }
  section {
    padding: 1em 0;
    margin-top: 1.5em;
    margin-left: 0.5em;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: .2em;
      margin-top: 0.8em;
      line-height: 1;
    }
    h1 {
      text-align: left;
      letter-spacing: .1em;
      margin-bottom: .8em;
      margin-top: 0;
    }
  }
}

.user-stats-timestamp{
  color: #b9b7b7;
}

.gravatar {
  float: left;
  margin-right: .8em;
}

.center-override .gravatar {
  float: none;
  margin-right: 1em;
}

.change-gravatar {
  font-family: 'Gruppo', cursive;
  font-size: 1.4em;
}

.change-gravatar:hover {
  text-decoration: none;
  font-weight: 800;
}

.gravatar_edit {
  margin-top: 1em;
}

.micropost_form {
  font-family: 'Gruppo', cursive;
}

/*  ---------------  microposts  -------------------  */
.micropost_count {
  font-family: 'Gruppo', cursive;
  letter-spacing: .3em;
  font-weight: 800;
}

.microposts {
  list-style: none;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 1.04em;
  letter-spacing: 0.08em;
  li {
    padding: .8em 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 4em;
    margin-top: 0.5em;
    img {
      /*display: block;*/
      padding: .3em 0;
      margin-top: 1em;
    }
  }
  .timestamp {
    color: #d8d8d8;
    display: block;
    margin-left: 4em;
    /*a {
      color: #4596dc;
    }*/
  }
  .gravatar {
    float: left;
    margin-right: .8em;
    margin-top: .4em;
  }
}

.microposts .user a:hover {
  text-decoration: none;
}

.pano-feed {
  font-family: 'Gruppo', cursive;
  font-weight: 800;
  letter-spacing: .4em;
}

aside {
  textarea {
    height: 7em;
    margin-bottom: .4em;
  }
}

span.picture {
  margin-top: .8em;
  input {
    border: 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  font-family: 'Gruppo', cursive;
  a {
    float: left;
    padding: 0 .7em;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: .7em;
  gravatar {
    margin: 1px 1px;
  }
  a {
    padding: .5em 0;
  }
}

.users-list a:hover {
  text-decoration: none;
}

.users.follow {
  padding: 0;
}

